
body {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 28px;
    color:white;
    margin: 0;
    height: 100dvh;
    background-size: cover;       
    background-repeat: no-repeat;
    padding: 0;
    overflow: hidden;
    position: fixed;
    background-image: url("../img/bg/bg0.png");
    background-color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
    display: none;
}

.menu{
    display: inline-block;
}

.menu-content li{
    &:hover{
        transform: scale(1.1); 
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25); 
    }
    transition: 
      transform 0.2s ease,
      box-shadow 0.2s ease;
}

.header-container {
    position: relative;
    left: 10%
}

.sociallink{
    width:50px;
    padding: 5px;
}

.popup{
    position:absolute;
    background-color: darkgray;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    cursor:move;
    touch-action: none;
}

.popup-content{
    position:relative; 
    top:5%; 
    text-align:center; 
    align-items:center;
    border-radius: 10px;
}

button{
    font-family: 'Pixelify Sans';
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer
}

p{
    font-size: 12pt;
    max-width: 100%;
    overflow-wrap: break-word;
    padding-top: 0;
    padding-bottom: 0;
}
